<!DOCTYPE html>
<html lang="ja">
  <%- include('../_partials/head') %>
  <body>
    <main class="px-3">
      <% for (var pr of jpr) { %>
      <div class="card">
        <h5 class="card-title">
          <%= pr.placement %> <%= pr.name %> <%= Math.round(pr.point) %>
        </h5>
        <ul class="list-group list-group-flush">
          <% for (var standing of pr.standings) { %>
          <li class="list-group-item">
            <%= standing.placement %> <%= standing.tournamentName %> <%=
            Math.round(standing.point) %>
          </li>
          <% } %>
        </ul>
      </div>
      <% } %>
    </main>
  </body>
</html>
