<!DOCTYPE html>
<html lang="ja">
  <%- include('../_partials/head') %>
  <body>
    <main class="px-3">
      <% jpr.forEach(function (pr, index) { %>
      <div class="card">
        <h5 class="card-title"><%= index + 1 %> <%= pr.name %></h5>
        <ul class="list-group list-group-flush">
          <% for (var standing of pr.standings) { %>
          <li class="list-group-item">
            <%= standing.placement %> <%= standing.tournamentName %>
          </li>
          <% } %>
        </ul>
      </div>
      <% }); %>
    </main>
  </body>
</html>
