<!DOCTYPE html>
<html lang="ja">
  <%- include('../_partials/head') %>
  <body>
    <main class="px-3">
      <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-start">
        <p class="lead">
          これはJak式JapanPowerRanking略して<string>JJPR</string>です。
          下記ルールに則って、<b>毎日</b>更新されることが特徴です。
          個人が作成したランキングですので、あくまで個人の範囲内でお楽しみください。
          <div class="accordion" id="accordionDesc">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingCalcRule">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCalcRule" aria-expanded="false" aria-controls="collapseCalcRule">
                  計算ルール
                </button>
              </h2>
              <div id="collapseCalcRule" class="accordion-collapse collapse" aria-labelledby="headingCalcRule" data-bs-parent="#accordionDesc">
                <div class="accordion-body">
                  主に<a href="https://harukisb.hatenablog.com/entry/2016/11/03/230644">Haruki氏のブログ</a>を元に算出しています。
                  「獲得順位によるポイント（下記ポイント表による）」×「大会参加人数」×「経過日数による傾斜（ネイピア数^(1-([経過日数]/365))」を大会ごとのポイントとします。
                  大会ごとのポイントが高い上位4大会の合計ポイントで順位付けを行っています。
                  <div class="text-secondary my-2">
                    <h6>補足</h6>
                    上位4大会を対象にしている理由は、多くの大会に参加しづらい地方勢が過度に不利にならないようにしています。
                    Haruki氏のように3〜5大会を6大会と見なす手法もありますが、より多くの大会に参加していただくことがコミュニティの活性化につながると考え、4大会固定にしています。
                    <!-- 単純な強さによるランキングを意図していると言うよりは、強さによるコミュニティへの貢献度をランク付けしているような形です。 -->
                    四捨五入の関係で大会ごとのポイントの合算が合計ポイントと一致しないことがあります。
                  </div>
              </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTargetTournament">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTargetTournament" aria-expanded="false" aria-controls="collapseTargetTournament">
                  対象大会
                </button>
              </h2>
              <div id="collapseTargetTournament" class="accordion-collapse collapse" aria-labelledby="headingTargetTournament" data-bs-parent="#accordionDesc">
                <div class="accordion-body">
                  暫定的なコロナ禍明けである2021年10月1日以降に開催された、smash.ggに登録されている61人以上の大会を対象にしています。
                  <div class="text-secondary my-2">
                    <h6>補足</h6>
                    smash.ggの設定でDiscoverableになっている必要があります。
                    Haruki氏の手法では大会シリーズで対象大会を決めていましたが、コロナ禍の影響で開催状況の足並みが揃っていないため、参加人数によって対象大会をきめています。
                    サブファイターを試したりすることが多い平日大会の結果を反映させないために、61人以上が参加している大会を対象にしています。
                    2022年10月1日以降は直近1年以内の大会が対象になります。
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingPointTable">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePointTable" aria-expanded="false" aria-controls="collapsePointTable">
                  順位によるポイント表
                </button>
              </h2>
              <div id="collapsePointTable" class="accordion-collapse collapse" aria-labelledby="headingPointTable" data-bs-parent="#accordionDesc">
                <div class="accordion-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">順位</th>
                        <th scope="col">獲得ポイント</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for (var placementToPoint of placementToPointList) { %>
                      <tr>
                        <th scope="col"><%= ordinal(placementToPoint.placement) %></th>
                        <th scope="col"><%= placementToPoint.point %></th>
                      </tr>
                      <% } %>
                    </tbody>
                  </table>
                  <div class="text-secondary my-2">
                    <h6>補足</h6>
                    このポイントに「大会参加人数」と「経過日数による傾斜（ネイピア数^(1-([経過日数]/365))倍）」がかかります。対応する順位がない場合は最も近い下の順位で計算しています。
                  </div>
                </div>
              </div>
            </div>
          </div>
        </p>
      </div>
      <h4 class="mb-3">算出日時　<%= baseDate.format("YYYY年MM月DD日") %></h4>
      <% for (var pd of pr) { %>
      <div class="card my-3">
        <h5 class="card-title px-1">
          <%= ordinal(pd.placement) %> <%= pd.name %> <%= Math.round(pd.point).toLocaleString()
          %>pt
        </h5>
        <ul class="list-group list-group-flush">
          <% for (var standing of pd.standings) { %>
          <li class="list-group-item">
            <%= ordinal(standing.placement) %> <%= standing.tournamentName %>
            <%= Math.round(standing.point).toLocaleString() %>pt
          </li>
          <% } %>
        </ul>
      </div>
      <% } %>
    </main>
  </body>
</html>
