<!DOCTYPE html>
<html lang="ja">
  <%- include('../_partials/head') %>
  <body>
    <nav class="navbar navbar-light bg-light sticky-top">
      <div class="container-fluid">
        <span class="navbar-text h2"><%= prSetting.displaySetting.prName %>
          <% if (prSetting.displaySetting.isRef) { %>
            （参考記録）
          <% } %>
        </span>
        <span class="navbar-text">制作 @jak_ssbu</span>
      </div>
    </nav>
    <main class="px-3">
      <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-start">
        <p class="lead">
          これはJak式<%= prSetting.displaySetting.countryName %>PowerRanking略して<string><%= prSetting.displaySetting.prName %></string>です。
          下記ルールに則って、<b>毎日</b>更新されることが特徴です。
          <% if (prSetting.displaySetting.isRef) { %>
          ただし、コロナ禍の状況を踏まえて、現在は参考記録扱いとしています。
          <% } %>
          個人が作成したランキングですので、あくまで個人の範囲内でお楽しみください。
          <div class="accordion" id="accordionDesc">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingCalcRule">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCalcRule" aria-expanded="false" aria-controls="collapseCalcRule">
                  計算ルール
                </button>
              </h2>
              <div id="collapseCalcRule" class="accordion-collapse collapse" aria-labelledby="headingCalcRule" data-bs-parent="#accordionDesc">
                <div class="accordion-body">
                  主に<a href="https://harukisb.hatenablog.com/entry/2016/11/03/230644">Haruki氏のブログ</a>を元に算出しています。
                  「獲得順位によるポイント（下記ポイント表による）」×「大会参加人数」×「経過日数による傾斜（ネイピア数^(1-([経過日数]/365))」を大会ごとのポイントとします。
                  大会ごとのポイントが高い上位4大会の合計ポイントで順位付けを行っています。
                  <div class="text-secondary my-2">
                    <h6>補足</h6>
                    上位4大会を対象にしている理由は、多くの大会に参加しづらい地方勢が過度に不利にならないようにしています。
                    Haruki氏のように3〜5大会を6大会と見なす手法もありますが、より多くの大会に参加していただくことがコミュニティの活性化につながると考え、4大会固定にしています。
                    <!-- 単純な強さによるランキングを意図していると言うよりは、強さによるコミュニティへの貢献度をランク付けしているような形です。 -->
                    四捨五入の関係で大会ごとのポイントの合算が合計ポイントと一致しないことがあります。
                  </div>
              </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTargetTournamentCondition">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTargetTournamentCondition" aria-expanded="false" aria-controls="collapseTargetTournamentCondition">
                  対象大会条件
                </button>
              </h2>
              <div id="collapseTargetTournamentCondition" class="accordion-collapse collapse" aria-labelledby="headingTargetTournamentCondition" data-bs-parent="#accordionDesc">
                <div class="accordion-body">
                  暫定的なコロナ禍明けである<%= moment(prSetting.expireColonaLimitation, "X").tz("Asia/Tokyo").format("YYYY年MM月DD日") %>以降に開催された、
                  smash.ggに登録されている<%= prSetting.minimumEntrantNum %>人以上の大会を対象にしています。
                  <div class="text-secondary my-2">
                    <h6>補足</h6>
                    Haruki氏の手法では大会シリーズで対象大会を決めていましたが、コロナ禍の影響で開催状況の足並みが揃っていないため、参加人数によって対象大会をきめています。
                    サブファイターを試したりすることが多い平日大会の結果を反映させないために、<%= prSetting.minimumEntrantNum %>人以上が参加している大会を対象にしています。
                    <%= moment(prSetting.expireColonaLimitation, "X").tz("Asia/Tokyo").format("YYYY年MM月DD日") %>以降は直近1年以内の大会が対象になります。
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTargetTournamentList">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTargetTournamentList" aria-expanded="false" aria-controls="collapseTargetTournamentList">
                  対象大会一覧
                </button>
              </h2>
              <div id="collapseTargetTournamentList" class="accordion-collapse collapse" aria-labelledby="headingTargetTournamentList" data-bs-parent="#accordionDesc">
                <div class="accordion-body">
                  <ul class="list-group list-group-flush">
                    <% for (var event of events) { %>
                    <li class="list-group-item">
                      <%= moment(event.endAt, "X").tz("Asia/Tokyo").format("YYYY/MM/DD") %>
                      <%= event.tournamentName %>
                      <%= event.name %>
                      &emsp;参加者数&nbsp;<%= event.numEntrants %>名
                    </li>
                    <% } %>
                  </ul>
                </div>
              </div>
            </div>
            <% if (locals.scheduledEvents) { %>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingScheduledTournamentList">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseScheduledTournamentList" aria-expanded="false" aria-controls="collapseScheduledTournamentList">
                  対象予定大会一覧
                </button>
              </h2>
              <div id="collapseScheduledTournamentList" class="accordion-collapse collapse" aria-labelledby="headingScheduledTournamentList" data-bs-parent="#accordionDesc">
                <div class="accordion-body">
                  あくまで予定ですので、この一覧に含まれていない大会が対象になったり、含まれている大会が対象外になることもあります。
                  また、募集人数によるフィルタができていませんので、実際には参加者数が<%= prSetting.minimumEntrantNum %>人以上になった大会が対象となります。
                  <div class="text-secondary my-2">
                    <h6>大会運営者の方へ</h6>
                    開催予定のイベントがこのリストに含まれていない場合は、smash.ggの設定でDiscoverableになっているかご確認ください。
                    <a href="https://help.smash.gg/en/articles/1465734-publishing" target="_blank" rel="noopener noreferrer">英語による設定方法の説明ページ</a>
                  </div>
                  <ul class="list-group list-group-flush">
                    <% for (var event of scheduledEvents.reverse()) { %>
                    <li class="list-group-item">
                      <%= moment(event.endAt, "X").tz("Asia/Tokyo").format("YYYY/MM/DD") %>
                      <%= event.tournamentName %>
                      <%= event.name %>
                      &emsp;現在の参加者数&nbsp;<%= event.numEntrants %>名
                    </li>
                    <% } %>
                  </ul>
                </div>
              </div>
            </div>
            <% } %>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingPointTable">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePointTable" aria-expanded="false" aria-controls="collapsePointTable">
                  順位によるポイント表
                </button>
              </h2>
              <div id="collapsePointTable" class="accordion-collapse collapse" aria-labelledby="headingPointTable" data-bs-parent="#accordionDesc">
                <div class="accordion-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">順位</th>
                        <th scope="col">獲得ポイント</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for (var placementToPoint of placementToPointList) { %>
                      <tr>
                        <th scope="col"><%= ordinal(placementToPoint.placement) %></th>
                        <th scope="col"><%= placementToPoint.point %></th>
                      </tr>
                      <% } %>
                    </tbody>
                  </table>
                  <div class="text-secondary my-2">
                    <h6>補足</h6>
                    このポイントに「大会参加人数」と「経過日数による傾斜（ネイピア数^(1-([経過日数]/365))倍）」がかかります。対応する順位がない場合は最も近い下の順位で計算しています。
                  </div>
                </div>
              </div>
            </div>
          </div>
        </p>
      </div>
      <h4 class="mb-3">算出日時　<%= baseDate.format("YYYY年MM月DD日") %></h4>
      <% pr.forEach((pd, index) => { %>
      <div class="card my-1">
        <div class="accordion-item">
          <h5 class="accordion-header card-title px-1" id="headingPd<%= index %>">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePd<%= index %>" aria-expanded="false" aria-controls="collapsePd<%= index %>">
              <span class="fw-bold"><%= ordinal(pd.placement) %></span>
              &nbsp;<span class="fw-bold"><%= pd.name %></span>
              &emsp;<%= Math.round(pd.point).toLocaleString() %>pt
            </button>
          </h5>
          <div id="collapsePd<%= index %>" class="accordion-collapse collapse" aria-labelledby="headingPd<%= index %>" data-bs-parent="#accordionDesc">
            <div class="accordion-body">
              <ul class="list-group list-group-flush">
                <% for (var standing of pd.standings) { %>
                <li class="list-group-item">
                  <span class="fw-bolder"><%= ordinal(standing.placement) %></span>
                  &emsp;<%= moment(standing.endAt, "X").tz("Asia/Tokyo").format("YYYY/MM/DD") %>
                  &nbsp;<span class="fw-bolder"><%= standing.tournamentName %></span>
                  &nbsp;<%= standing.eventName %>
                  &emsp;<%= Math.round(standing.point).toLocaleString() %>pt
                </li>
                <% } %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
    </main>
  </body>
</html>
